<launch>
	<!-- Start Kinect driver -->
	<include file="$(find freenect_launch)/launch/freenect.launch"/>
<!--
	<include file="$(find openni_launch)/launch/openni.launch"/>
<node pkg="tf" type="static_transform_publisher"
         name="base_link_to_kinect_link" args="0.25 0.0 0.25 0 0 0
         base_link camera_link 100" />
  <node pkg="tf" type="static_transform_publisher"
         name="camera_link_to_depth_link" args="0.25 0.0 0.25 0 0 0
         camera_link camera_depth_frame 100" />
-->
</launch>


